{{ with index .Site.Data.contact .Site.Language.Lang }}
{{ $contact := .contact }}
<section id="contact" class="bg-light">
    <div class="container mb-5">
        <h2 class="heading mb-3">{{ $contact.title }}</h2>
        <p>{{ $contact.subtitle }}</p>
        <div class="text-success my-3">
            {{ $contact.message }}
        </div>
        <form action="https://formspree.io/xdownapl" method="post">
            <div class="form-row">
                <div class="col-12 col-xl-6 col-lg-6 col-md-6">
                    <label>Name</label>
                    <input required type="text" class="form-control" name="name" aria-label="Name">
                </div>
                <div class="col-12 col-xl-6 col-lg-6 col-md-6">
                    <label>Email</label>
                    <input required type="email" class="form-control" name="_replyto" aria-label="Email">
                </div>
            </div>
            <div class="form-group">
                <label>{{ $contact.messagelabel }}</label>
                <textarea required name="message" class="form-control" rows="4" aria-label="Message"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-dark">{{ $contact.submitlabel }}</button>
        </form>
    </div>
</section>
{{end}}
