{{ with index .Site.Data.experience .Site.Language.Lang }}
{{ $experience := .experience }}
<section id="experience" class="blue">
    <h2 class="heading">{{ $experience.title }}</h2>
    <div id="timeline">
        {{ range $index, $element := $experience.experience }}
        {{ $companySlug := $element.company | urlize }}
        <div id="{{ $companySlug }}" class="timeline-item clearfix">
            <a href="#{{ $companySlug }}">
                <div class="timeline-icon"></div>
            </a>
            <div class="timeline-content {{ if eq (mod $index 2) 0 }}right{{ end }}">
                <span class="date">{{ $element.timeperiod }}</span>
                <h3 class="h3 my-2">
                    {{ if $element.link }}<a href="{{ $element.link }}" class="text-dark" target="_blank">{{ end }}
                        {{ $element.company }}{{ if $element.link }}<span style="font-size: 0.5em; margin-left: 0.2em;">↗</span>{{ end }}
                    {{ if $element.link }}</a>{{ end }}
                </h3>
                <p>{{ $element.description }}</p>
            </div>
        </div>
        {{ end }}
    </div>
    <div class="text-center mt-5">
        <a href="/docs/CV_Max_Heichling.pdf" class="btn btn-outline-light btn-lg" aria-label="{{ $experience.cv }}">
            {{ $experience.cv}}
        </a>
    </div>
</section>
{{ end }}