<!-- goat counter -->
<script data-goatcounter="https://heichling.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
<!-- service worker -->
{{ partialCached "pwa/assets/sw" . }}
</body>
</html>
