<!doctype html>
<html lang="en-US">
    <head>
        <title>
            Max Heichling - Full-stack cross-platform developer & Solution
            Architect
        </title>
        <!-- Language detection -->
        <script>
            (function () {
                if (window.location.search) return;
            
                const getUserLanguage = () => {
                    const navigator = window.navigator;
                    const languageKeys = ["languages", "language", "browserLanguage", "systemLanguage", "userLanguage"];
            
                    for (const key of languageKeys) {
                        const languages = navigator[key];
                        if (Array.isArray(languages)) {
                            for (const language of languages) {
                                if (language) return language;
                            }
                        } else if (languages) {
                            return languages;
                        }
                    }
            
                    return "en";
                };
            
                const userLanguage = getUserLanguage();
                const isGermanPath = window.location.pathname.includes("de");
                const prefersGerman = userLanguage.includes("de");
            
                if (!isGermanPath && prefersGerman) {
                    window.location.replace("/de/");
                } else if (isGermanPath && !prefersGerman) {
                    window.location.replace("/");
                }
            })();
        </script>
        <!-- Meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="referrer" content="origin" />
        <!-- Inline site style -->
        <style>
            {{ readFile "static/css/style.scss" | safeCSS }}{{ readFile "static/css/bootstrap.min.css" | safeCSS }}
        </style>
        <!-- icons -->
        <link rel="icon" type="image/ico" href="/favicon.ico" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <!-- get other translation   -->
        {{ if .IsTranslated }} {{ range .AllTranslations }}
        <link
            rel="alternate"
            hreflang="{{ .Language.Lang }}"
            href="{{ .Permalink }}"
            title="{{ .Language.Params.LanguageName }}"
        />
        {{ end }} {{ end }} {{ partial "seo_schema.html" . }}
        {{ partialCached "pwa/assets/meta" . }}
    </head>
    <body class="clearfix" tabindex="0"></body>
</html>
