{{ with index .Site.Data.headerbar .Site.Language.Lang }}
{{ $headerbar := .headerbar }}
<nav>
    <ul>
        <li class="parent-li">
            <i class="icon-menu"></i>
            <div>
                <ul>
                    <span class="text-light">{{ $headerbar.jumpto }}:</span>
                    <li>
                        <a href="#services" >
                            {{ $headerbar.section.services }}
                        </a>
                    </li>
                    <li>
                        <a href="#skills">
                            {{ $headerbar.section.skills }}
                        </a>
                    </li>
                    <li>
                        <a href="#projects">
                            {{ $headerbar.section.projects }}
                        </a>
                    </li>
                    <li>
                        <a href="#experience">
                            {{ $headerbar.section.experience }}
                        </a>
                    </li>
                    <li>
                        <a href="#contact">
                            {{ $headerbar.section.contact }}
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <ul>
        <li class="parent-li">
            <i class="icon-share"></i>
            <div>
                <ul>
                    <span class="text-light">{{ $headerbar.share }}:</span>
                    <li>
                        <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fheichling.xyz&text=Check%20out%20Max%20Heichling%2C%20a%20TOGAF%20Certified%20Enterprise%20Architect%20%26%20Full-Stack%20Developer%2C%20specializing%20in%20innovative%20cross-platform%20solutions&hashtags=EnterpriseArchitect,TOGAF,FullStack,SolutionArchitect">
                            Twitter
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fheichling.xyz&title=Max%20Heichling%20-%20TOGAF%20Certified%20Enterprise%20Architect%20%26%20Full-Stack%20Developer&summary=Experienced%20solution%20architect%20specializing%20in%20web%20and%20mobile%20app%20development%2C%20APIs%2C%20and%20cross-platform%20solutions.%20Driving%20innovation%20across%20various%20industries%20with%20expertise%20in%20enterprise%20architecture.">
                            LinkedIn
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <ul>
        <li class="parent-li">
            <i class="icon-language"></i>
            <div>
                <ul>
                    <span class="text-light">{{ $headerbar.language }}:</span>
                    {{ range $.Site.Home.AllTranslations }}
                    <li>
                        <a href="{{ .Permalink }}?!" rel="nofollow">
                            {{ .Language.Params.LanguageName }}
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </li>
    </ul>
</nav>
{{end}}
