{{ with index .Site.Data.projects .Site.Language.Lang }}
{{ $projects := .projects }}
<section id="projects" class="red">
    <h2 class="heading">{{ $projects.title }}</h2>

    <div class="row">
        {{ range $key, $value := $projects.projects }}
        <div class="col-lg-6 col-md-6 col-12 mb-3">
            <div class="card p-4">
                <a class="mb-3" href="{{ $value.url }}" aria-label="{{ $key }}">
                    <div class="featuredImage rounded"
                         style="background-size:cover;background-position:center;background-image: url('{{ $value.img }}'); height: 240px;background-color:#fbfbfb;">
                    </div>
                </a>
                <a href="{{ $value.url }}" class="text-dark" aria-label="{{ $key }}">{{ $key }}</a>
                <div>
                    <div class="float-right"></div>
                </div>
            </div>
        </div>
        {{ end }}
    </div>

    <div class="text-center mt-5">
        <a href="https://bytevagabond.com" class="btn btn-outline-light btn-lg" aria-label="{{ $projects.cta }}">
            {{ $projects.cta }}
        </a>
    </div>
{{ end }}
</section>
