<meta name="robots" content="index,follow" />

<!-- Schema.org for Google -->
<meta itemprop="name" content="Max Heichling - TOGAF Certified Enterprise Architect & Full-Stack Developer" />
<meta itemprop="description" content="Experienced solution architect specializing in web and mobile app development, APIs, and enterprise architecture. TOGAF certified with a proven track record in cross-platform solutions." />

<!-- Primary Meta Tags -->
<meta name="title" content="Max Heichling - Enterprise Solution Architect & Full-Stack Developer" />
<meta name="description" content="TOGAF certified enterprise architect with extensive experience in web and mobile app development, API design, and cross-platform solutions. Driving innovation across various industries." />
<meta name="author" content="Max Heichling" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://heichling.xyz/" />
<meta property="og:title" content="Max Heichling - Enterprise Solution Architect & Full-Stack Developer" />
<meta property="og:description" content="TOGAF certified architect specializing in innovative cross-platform solutions. Extensive experience in web, mobile, and API development across diverse industries." />
<meta property="og:image" content="https://heichling.xyz/images/screenshot_heichling.xyz.png" />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content="https://heichling.xyz/" />
<meta name="twitter:site" content="@ByteVagabond" />
<meta name="twitter:title" content="Max Heichling - TOGAF Certified Enterprise Architect & Full-Stack Developer" />
<meta name="twitter:description" content="Driving innovation through expert solution architecture. Specializing in web and mobile apps, APIs, and cross-platform development for diverse industries." />
<meta name="twitter:image:alt" content="Screenshot of Max Heichling's professional website showcasing enterprise architecture and development expertise." />
<meta name="twitter:image" content="https://heichling.xyz/images/twitter_preview_heichling.xyz.png" />

<!-- JSON-LD -->
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Person",
  "name": "Max Heichling",
  "url": "https://heichling.xyz",
  "image": "https://heichling.xyz/images/max.webp",
  "sameAs": ["https://twitter.com/ByteVagabond", "https://heichling.xyz"],
  "jobTitle": "TOGAF Certified Enterprise Architect & Full-Stack Developer",
  "description": "Solution architect specializing in web and mobile app development, APIs, and cross-platform solutions. TOGAF certified with extensive experience across various industries."
}
</script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "https://heichling.xyz",
  "name": "Max Heichling - Enterprise Solution Architect & Full-Stack Developer",
  "author": {
    "@type": "Person",
    "name": "Max Heichling"
  },
  "description": "TOGAF certified enterprise architect and full-stack developer. Expertise in solution architecture, web and mobile app development, and API design across diverse industries."
}
</script>