{{ with index .Site.Data.services .Site.Language.Lang }}
{{ $services := .services }}
<section id="services" class="dark-purple">
    <h2 class="heading mb-2">{{ $services.title }}</h2>
    <p class="mb-4">
        {{ $services.subtitle }}
        <a href="#contact" class="text-light" style="text-decoration: underline">{{$services.contact }}</a>
        {{$services.afterContact }}
    </p>
    <div class="row justify-content-md-center text-center">
        {{ range $index, $element := $services.services }}
        <div class="col-12 col-lg-6 col-md-6 mb-3">
            <div class="card p-4">
                <h3 class="mt-3">{{ $element.title }}</h3>
                <p class="text-muted">{{ $element.description }}</p>
            </div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
