{{ $social := .Site.Data.social }}
{{ with index .Site.Data.sidebar .Site.Language.Lang }}
{{ $sidebar := .sidebar}}
<section id="sidebar" class="sidebar d-flex align-items-center p-5">
    <div class="main-info">
        <img src="{{ .Permalink }}/images/max.webp" alt="Max Heichling" class="rounded-circle mb-3"
             width="160px" height="160px">
        <h1 class="heading">{{ $sidebar.title }}
            <span class="highlight">Max </span>
            <span class="highlight">Heichling</span>
        </h1>
        <p class="text-light">{{ $sidebar.description }}</p>
        {{ end }}
        <div class="social my-4">
            {{ range $key, $value := $social }}
            <a target="_blank" href="{{ $value }}" title="{{ $key }}">
                <i class="icon-{{ $key }}"></i>
            </a>
            {{ end }}
        </div>
    </div>
</section>

