{{ with index .Site.Data.skills .Site.Language.Lang }}
{{ $skills := .skills }}
<section id="skills" class="purple text-light">
    <h2 class="heading">{{ $skills.title }}</h2>
    {{ range $skills.skills }}
    <div class="skill">
        <span class="h6">{{ .name }}</span>
        <div class="progress">
            <div class="progress-bar bg-gold" role="progressbar" style="width: {{ .value }}%" aria-valuenow="{{ .value }}"
                 aria-valuemin="0" aria-valuemax="100" aria-label="{{ .name }}"></div>
        </div>
    </div>
    {{ end }}
    <p><i><u>Miscellaneous:</u> {{ $skills.misc }}</i></p>
</section>
{{ end }}